## Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

->Airlines Delay: Airline on-time statistics and delay causes

 Important

Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

In [11]:
import pandas as pd

df = pd.read_csv('DelayedFlights.csv')

df_random = df.sample(n = 200000)

df_random

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1647555,6032849,2008,11,27,4,1019.0,959,1131.0,1141,XE,...,6.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
470424,1476528,2008,3,31,1,1924.0,1605,2213.0,1902,US,...,4.0,19.0,0,N,0,10.0,0.0,0.0,0.0,181.0
1205078,4025636,2008,7,12,6,611.0,600,838.0,805,MQ,...,5.0,35.0,0,N,0,0.0,0.0,33.0,0.0,0.0
1091614,3632484,2008,7,11,5,1609.0,1555,1728.0,1715,WN,...,4.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1531822,5419360,2008,10,13,1,1706.0,1640,1719.0,1700,WN,...,4.0,13.0,0,N,0,0.0,0.0,0.0,0.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511707,1601788,2008,3,28,5,1525.0,1329,1658.0,1435,MQ,...,8.0,32.0,0,N,0,0.0,0.0,31.0,0.0,112.0
51832,170737,2008,1,2,3,1813.0,1635,1947.0,1752,OO,...,6.0,27.0,0,N,0,0.0,0.0,0.0,0.0,115.0
23484,73165,2008,1,25,5,1856.0,1850,2146.0,2125,WN,...,4.0,17.0,0,N,0,0.0,0.0,15.0,0.0,6.0
599525,1879181,2008,4,29,2,1125.0,1100,1707.0,1645,WN,...,5.0,11.0,0,N,0,0.0,0.0,0.0,0.0,22.0
65367,213655,2008,1,29,2,1532.0,1512,1613.0,1555,OO,...,4.0,18.0,0,N,0,0.0,0.0,0.0,0.0,18.0

In [12]:
df_random.info()
df_random.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 1647555 to 65367
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199232 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            200000 non-null  object
 12  ActualElapsedTime  199084 non-null  float64
 13  CRSElapsedTime     199979 non-null  float64
 14  AirTime            199084 non-null  float64
 15  ArrDelay           199084 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199232 non-null  float64
 21  TaxiOut            199939 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       128824 non-null  float64
 26  WeatherDelay       128824 non-null  float64
 27  NASDelay           128824 non-null  float64
 28  SecurityDelay      128824 non-null  float64
 29  LateAircraftDelay  128824 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 47.3+ MB

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,2.000000e+05,200000.0,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,199232.000000,200000.000000,200000,...,199232.00000,199939.000000,200000.00000,200000,200000.000000,128824.000000,128824.000000,128824.000000,128824.000000,128824.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38805,...,NaN,NaN,NaN,199916,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.347402e+06,2008.0,6.120315,15.764755,3.986190,1517.026790,1465.960655,1607.825520,1632.463855,NaN,...,6.81640,18.244545,0.00042,NaN,0.004160,19.134897,3.769243,14.959588,0.081041,25.452191
std,2.068192e+06,0.0,3.486036,8.751896,1.998181,450.982211,425.116805,548.964725,465.203836,NaN,...,5.28896,14.507386,0.02049,NaN,0.064364,43.578134,21.731025,33.789532,1.756839,41.846590
min,6.000000e+00,2008.0,1.000000,1.000000,1.000000,1.000000,5.000000,1.000000,0.000000,NaN,...,0.00000,0.000000,0.00000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.520384e+06,2008.0,3.000000,8.000000,2.000000,1201.000000,1133.000000,1314.000000,1324.000000,NaN,...,4.00000,10.000000,0.00000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.249648e+06,2008.0,6.000000,16.000000,4.000000,1544.000000,1508.000000,1713.000000,1705.000000,NaN,...,6.00000,14.000000,0.00000,NaN,0.000000,2.000000,0.000000,1.000000,0.000000,8.000000
75%,4.982875e+06,2008.0,9.000000,23.000000,6.000000,1900.000000,1815.000000,2030.000000,2014.000000,NaN,...,8.00000,21.000000,0.00000,NaN,0.000000,21.000000,0.000000,14.000000,0.000000,34.000000
max,7.009717e+06,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.000000,NaN,...,200.00000,371.000000,1.00000,NaN,1.000000,1552.000000,940.000000,1337.000000,139.000000,808.000000

## Exercici 2
Fes un informe complet del dataset:

Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
Troba quantes dades faltants hi ha per columna.
Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
Fes una taula de les aerolínies amb més endarreriments acumulats.
Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
Aporta allò que consideris rellevant.

## Exercici 3
Exporta el dataset net i amb les noves columnes a Excel.