## Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

->Airlines Delay: Airline on-time statistics and delay causes

 Important

Redueix la dimensió del dataset de manera aleatòria per tal d'obtenir un dataset de només 200.000 registres. Tots els exercicis s'han de fer amb aquest dataset reduït.

In [9]:
import pandas as pd

df = pd.read_csv('DelayedFlights.csv')

df_random = df.sample(n = 200000)

df_random

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1879094,6850120,2008,12,4,4,1803.0,1740,2228.0,2145,MQ,...,4.0,62.0,0,N,0,0.0,0.0,43.0,0.0,0.0
1660827,6105229,2008,11,3,1,1332.0,1136,1453.0,1255,OO,...,11.0,18.0,0,N,0,0.0,0.0,2.0,0.0,116.0
1847371,6767278,2008,12,27,6,1336.0,1035,1431.0,1116,EV,...,10.0,28.0,0,N,0,2.0,0.0,193.0,0.0,0.0
790265,2619132,2008,5,12,1,1114.0,1100,1649.0,1659,UA,...,11.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1094240,3640393,2008,7,13,7,2059.0,2040,2205.0,2150,WN,...,3.0,7.0,0,N,0,11.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568369,5608590,2008,10,1,3,1816.0,1758,1944.0,1958,UA,...,5.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN
731374,2399168,2008,5,6,2,1145.0,1135,1312.0,1315,WN,...,9.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
763897,2503776,2008,5,1,4,606.0,600,709.0,704,XE,...,6.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1383109,4691559,2008,8,9,6,858.0,820,1147.0,1121,9E,...,8.0,16.0,0,N,0,26.0,0.0,0.0,0.0,0.0
640779,2046918,2008,4,3,4,1711.0,1700,2105.0,2053,US,...,8.0,15.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [5]:
df_random.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 1391633 to 1549370
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199300 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            199998 non-null  object
 12  ActualElapsedTime  199169 non-null  float64
 13  CRSElapsedTime     199973 non-null  float64
 14  AirTime            199169 non-null  float64
 15  ArrDelay           199169 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199300 non-null  float64
 21  TaxiOut            199955 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       129153 non-null  float64
 26  WeatherDelay       129153 non-null  float64
 27  NASDelay           129153 non-null  float64
 28  SecurityDelay      129153 non-null  float64
 29  LateAircraftDelay  129153 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 47.3+ MB

## Exercici 2
Fes un informe complet del dataset:

Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
Troba quantes dades faltants hi ha per columna.
Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).
Fes una taula de les aerolínies amb més endarreriments acumulats.
Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.
Aporta allò que consideris rellevant.

In [23]:
import numpy as np

df_random.describe(include='all')

df_random['velocitat'] = df_random['Distance']/df_random['AirTime']

df_random['Delay'] = np.where(df_random['ArrDelay'] > 0, 'Delay', 'No delay')

sum(df_random['Delay']=='Delay')

177953

In [11]:
# contar NA

nan_count = df_random.isna().sum()
print(nan_count)

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                725
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  1
ActualElapsedTime      851
CRSElapsedTime          22
AirTime                851
ArrDelay               851
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 725
TaxiOut                 50
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71172
WeatherDelay         71172
NASDelay             71172
SecurityDelay        71172
LateAircraftDelay    71172
dtype: int64

## Exercici 3
Exporta el dataset net i amb les noves columnes a Excel.